@import "normalize";

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

$default-text-color: #f6f6f6;
$default-background-color: #0a4369;
$background-card-fallback: #f9f9f9;
$card-text-color: #2C3E50;
$card-border-color: #AAAAAA;
$footer-link-color: #27ae60;
$quote-button-border: #f9f9f9;
$quote-button-hover: #3498DB;
$quote-button-active: #2980B9;

$background-card: '../media/images/paper_fibers_@2X.png';
$twitter-icon: '../media/icons/twitter.svg';
$twitter-icon-alt: '../media/icons/twitter.png';

@mixin debug { border:1px dashed tomato; }
@mixin sprite_defaults {
	background: url($sprite-map-alt);
	background-image: url($sprite-map), none;
	background-repeat: no-repeat;
}
@mixin drop_shadow_defaults {
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    2px 2px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

@mixin drop_shadow_hover {
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    2px 2px 4px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         2px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

* { box-sizing: border-box; }
html { background-color: $default-background-color; }
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: $default-text-color;
	font-family: 'Droid Serif', serif;
	font-size: 14px;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin-top: -20px;
	@media (min-height: 400px) {
		margin-top: -50px;
	}
	@media (min-height: 600px) {
		margin: 0 0 0 0;
	}
}
.middle {
	vertical-align: middle;
	display: table-cell;
}
.inner {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	padding: 0 30px 0 30px;
	@media (min-width: 800px) {
		padding: 0 50px 0 50px;

	}
	@media (min-width: 900px) {
		width: 800px;
	}
}
.card-container {
	width: 100%;
	height: 250px;
	position: relative;
	perspective: 800px;
}
.card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	transform-origin: bottom center;

	.cardface {
		margin: 0;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		background: $background-card-fallback url($background-card);
		background-repeat: repeat;
		background-position: center center;
		border-radius: 3px;
		border: 1px solid $card-border-color;
		@include drop_shadow_defaults;
		color: $card-text-color;
		padding: 0 10px 0 10px;
		&:hover {
			@include drop_shadow_hover;
		}
		&.frontside {
		}
		&.backside {
			transform: rotateX( 180deg );
		}
		.twitter {
			display: block;
			height: 24px;
			width: 24px;
			bottom: 10px;
			right: 10px;
			position: absolute;
			background: url($twitter-icon-alt);
			background-image: url($twitter-icon), none;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		.inner {
			margin: 80px 0 0 -10px;
			width: 100%;
			text-align: center;
			padding: 0 10px 0 10px;
			@media (min-height: 600px) { margin-top: 0px; }
			@media (min-width: 800px) { padding: 0 20px 0 20px; }
		}
		.quote {
			font-size: 14px;
			@media (min-width: 300px) { font-size: 16px; }
			@media (min-width: 800px) { font-size: 18px; }
		}
		.author {
			font-size: 12px;
			font-weight: bold;
			font-style: italic;
			@media (min-width: 800px) { font-size: 14px; }
		}
	}
}
footer {
	top: auto;
	bottom: 0;
	padding: 20px 10px 20px 10px;
	text-align: center;
	font-size: 11px;
	position: fixed;
	z-index: 9999;
	display: block;
	width: 100%;
	a {
		color: $footer-link-color;
		text-decoration: none;
	}
	.brand {
		color: $default-text-color;
		text-decoration: underline;
		font-weight: bold;
	}
	@media (min-width: 800px) {
		padding: 30px 10px 30px 10px;
	}
}
.new-quote {
	border-radius: 300px;
	line-height: 40px;
	min-width: 200px;
	background: transparent;
	border: 2px solid $quote-button-border;
	font-size: 12px;
	font-weight: bold;
	color: $default-text-color;
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
	transition: background 0.1s ease-out;
	outline: 0;
	&:hover {
		border-color: $quote-button-hover;
		outline: 0;
	}
	&:active {
		background-color: $quote-button-active;
	}
	@media (min-width: 800px) {
		margin: 40px 0 0 0;
	}
}
